@import "tailwindcss";

@theme {
  --color-primary: #ff5252;
}

body {
  font-family: Roboto;
  font-optical-sizing: auto;
  background-color: #f5f0f0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

.orderTable::-webkit-scrollbar-thumb {
  background: #ccc !important;
  height: 10px !important;
}

.container {
  width: 90%;
  margin: auto;
}

header .top-strip {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.link {
  text-decoration: none !important;
  color: inherit !important;
}

.link:hover {
  color: var(--color-primary) !important;
}

.MuiBadge-badge {
  background-color: var(--color-primary) !important;
}

.Button {
  color: #000 !important;
}
.btn-org {
  background-color: var(--color-primary) !important;
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}
.btn-org.btn-border{
  background-color: transparent !important;
  color: var(--color-primary) !important;
  border: 1px solid var(--color-primary) !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}
.btn-org.btn-border:hover{
  background-color: #171717 !important;
  color: #fff !important;
  border: none !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}
.btn-org:hover {
  background-color: #171717 !important;
}

.btn-lg {
  font-size: 16px !important;
  padding: 10px 20px !important;
}

.btn-sm{
  font-size: 14px !important;
  padding: 5px 14px !important;
}
.swiper-button-prev,
.swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  background: #f5f0f0;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
  min-width: 45px;
  margin: 0 18px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: black;
  font-size: large !important;
  font-weight: bold !important;
}

.homeCatSlider {
  overflow: inherit !important;
}

.homeCatSlider .swiper-button-prev,
.homeCatSlider .swiper-button-next {
  min-width: 30px !important;
  width: 30px !important;
  height: 30px !important;
}

.homeCatSlider .swiper-button-prev:after,
.homeCatSlider .swiper-button-next:after {
  font-size: 15px !important;
  font-weight: 700 !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: var(--color-primary);
}

.adBanners .swiper-button-prev,
.adBanners .swiper-button-next {
  width: 28px !important;
  height: 28px !important;
  min-width: 28px !important;
  top: 60%;
}

.adBanners .swiper-button-prev:after,
.adBanners .swiper-button-next::after {
  font-size: 10px !important;
  font-weight: 800 !important;
}

.adBanners .swiper-button-prev:hover,
.adBanners .swiper-button-next:hover {
  background: var(--color-primary);
}

.MuiTabs-indicator {
  background-color: var(--color-primary) !important;
}

.MuiTab-textColorPrimary:active,
.Mui-selected {
  color: var(--color-primary) !important;
}

.css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root.Mui-checked,
.css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: var(--color-primary) !important;
}

.css-rizt0-MuiTypography-root {
  font-size: 13px !important;
  color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
  background: var(--color-primary) !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}

.homeBannerV2 .swiper-slide-active .info {
  opacity: 1 !important;
  right: 0 !important;
}

.homeBannerV2 .info h4,
.homeBannerV2 .info h2,
.homeBannerV2 .info h3 {
  opacity: 0;
  right: -100%;
  transition: all 0.8s ease-in-out;
}
.homeBannerV2 .info .sliderButton {
  opacity: 0;
  bottom: -100%;
  transition: all 0.8s ease-in-out;
}
.homeBannerV2 .swiper-slide-active .info h4 {
  transition-delay: 0.2s;
  opacity: 1;
  right: 0 !important;
}

.homeBannerV2 .swiper-slide-active .info h2 {
  transition-delay: 0.5s;
  opacity: 1;
  right: 0 !important;
}

.homeBannerV2 .swiper-slide-active .info h3 {
  transition-delay: 0.8s;
  opacity: 1;
  right: 0 !important;
}

.homeBannerV2 .swiper-slide-active .info .sliderButton {
  bottom: 0 !important;
  opacity: 1;
  transition-delay: 0.5s;
}

.MuiCheckbox-root {
  padding: 6px !important;
}

.MuiSlider-colorPrimary {
  color: var(--color-primary) !important;
}

.itemViewActions button.active svg {
  color: var(--color-primary) !important;
}

.iiz__btn {
  visibility: hidden;
}
.zoomProductSliderThumbs .swiper {
  height: 100px !important;
}
.zoomProductSliderThumbs .swiper-wrapper {
  padding-top: 30px !important;
}

.zoomProductSliderThumbs .swiper-button-next,
.zoomProductSliderThumbs .swiper-button-prev {
  position: absolute !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: 0px !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0 !important;
  z-index: 10 !important;
}

.zoomProductSliderThumbs .swiper-button-next {
  bottom: 0 !important;
  top: auto !important;
}

.zoomProductSliderThumbs .swiper-button-prev {
  top: 0 !important;
  bottom: auto !important;
}

.zoomProductSliderThumbs .swiper-button-prev:after {
  transform: rotate(90deg);
}
.zoomProductSliderThumbs .swiper-button-next:after {
  transform: rotate(90deg);
}

.reviewScroll::-webkit-scrollbar-thumb {
  background: #ccc;
}

.reviewScroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar {
  width: 5px !important;
}
.scroll::-webkit-scrollbar-thumb {
  background: #ccc !important;
}
.productDetailModel .MuiDialogContent-dividers {
  padding: 0 !important;
}

.cartPanel .MuiPaper-root {
  width: 400px !important;
}

#size-menu .MuiButtonBase-root {
  font-size: 12px !important;
}
#qty-menu .MuiButtonBase-root {
  font-size: 12px !important;
}
#account-menu .MuiPaper-root {
  width: 150px !important;
  text-align: center;
}

.myAccountTabs li a {
  position: relative;
  display: block;
  padding: 0;
}
.myAccountTabs li a:before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0px;
  background-color: var(--color-primary);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.myAccountTabs li a.active::before{
  height: 100%;
  opacity: 1;
  top: 0px;
}


