.categoryPanel *{
    text-transform: capitalize !important;
}

nav li .submenu{
    visibility: hidden;
    opacity: 0;
}

nav li:hover .submenu{
    visibility: visible !important;
    opacity: 1 !important;
    top: 100%;
}

nav li .submenu li .submenu{
    top: 0px !important;
    left: 120% !important;
    opacity: 0 !important;
}

nav li .submenu li:hover .submenu{
    left: 100% !important;
    opacity: 1 !important;
}  